.app{
  height: 100vh;
  background-color: rgb(255, 111, 111);
  display: flex;
  justify-content: center;
  
}

.tweet {
  margin-top: 10px;
  height: 300px;
  width: 300px;
  background: white;
  border: 2px solid black;
  text-align: center;
}
